#bg-img {
    background: url('../img/stores.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 500px;
}

body {
    background: #CCC;
}

.card-footer a {
    color: #000;
    text-decoration: none;
}

.card-footer a:hover {
    color: #FFF;
    text-decoration: none;
}

#Header a:hover {
    color: #FFF;
}

#view-profile hr {
    border-width: 2px;
    margin-top: 6px;
}

#view-profile {
    margin-top: -300px;
}

#view-profile span {
    padding: 10px 20px 10px 20px;
}
