#autocomplete {
  width: 100%;
}

body {
  height: 100%;
  padding: 0 !important;
  overflow: hidden;
}

#businesses {
  height: 91vh;
  overflow-y: auto;
  padding-bottom: 50px;
}

#business-sidebar {
  margin-right: 10px;
  width: 30%;
}

.business-card {
  border: 5px solid #17a2b8;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  max-height: 150px;
  overflow: hidden;
  padding: 10px;
  padding-bottom: 40px;
  position: relative;
}

.business-card a {
  color: #dc3545;
}

.business-container {
  display: flex;
  height: 100%;
  margin-top: 90px;
  padding: 10px 25px;
}

.business-info {
  font-size: 125%;
}

.business-search {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  width: 500px;
  z-index: 1;
}

#findBusinesses {
  font-size: 18px;
}

#Header a:hover {
  color: #fff;
}

#home-page-map {   
  display: flex;
}

.iw_heading {
  font-weight: bold;
  text-align: left;
}

#listing {
  cursor: pointer;
  height: 83vh;
  overflow: auto;
  overflow-x: hidden;
  width: 200px;
}

#locationField {
  -webkit-box-flex: 1 1 190px;
  -ms-flex: 1 1 190px;
  flex: 1 1 190px;
  margin: 0 8px;
}

#map {
  height: 83vh;
  width: 55vw;
}

#map-search {
  flex-grow: 1;
}

.map_link_row, .map_location_row, .map_name_row {
  height: 18px;
}

#results {
  font-size: 16px;
}

#resultsTable {
  border-collapse: collapse;
  width: 280px;
}

.show-more {
  background-image: linear-gradient(transparent, white);
  bottom: 0;
  color: white;
  margin: 0;
  padding: 20px 0px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.show-more span {
  background-color: #17a2b8;
  border-radius: 5px;
  padding: 10px;
}

.show-more span:hover {
  cursor: pointer;
}

table {
  font-size: 12px;
}
