#basic-questionnaire {
    display: block;
}

#business-questionnaire {
    display: none;
}

#edit-button {
    display: none;
}

#edit-profile-section {
    display: none;
}

#first-question {
    display: block;
}

#lat-long {
    display: none;
}

#map {
    display: none;
    height: 425px;
    width:  50%
}

#view-profile-section {
    display: block;
}
