#basic-questionnaire {
  display: block;
}

#business-questionnaire {
  display: none;
}

#calendar {
  height: 900px;
  width: 1110px;
}

#edit-profile-section {
  display: none;
}

#first-question {
  display: block;
}

#lat-long {
    display: none;
}

#map {
    display: none;
    height: 150px;
    width:  30%
}

#view-profile-section {
    display: block;
}
